body{
  background-color: black;
}
.container{
  background-color: black;
}
.jumbotron {
  background-color: black;
  font-family: 'conman_regularregular';
  color: white;
  height: 200px;
}

.btn {
  margin: 5px;
  width: 100px;
  border-radius: 20px; 
  font-family: 'conman_regularregular';

}

.btnRepoTags:hover {
  border: black 1px solid;
}

#tags {
  margin-bottom: 10px;
}

.tag:hover {
  border: black 1px solid;
}


/* Centering with flex */
.card-columns,
#popTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Make the popover content div initially hidden */
#popTags {
  visibility: hidden;
}

/* Mobile First */
#jumboTitle {
  font-size: 28px;
  font-weight: bold;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
  #jumboTitle {
    font-size: 52px;
    font-weight: bold;
  }
}