.jumbotron {
  background-color: royalblue;
  font-family: "Roboto Mono";
  font-size: 22px;
}

.btn {
  margin: 5px;
}

.hide {
  display: none;
}

.btnRepoTags:hover {
  border: black 1px solid;
}

#tags {
  margin-bottom: 10px;
}

.tag:hover {
  border: black 1px solid;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 599.98px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  #jumboTitle {
    font-size: 26px;
    font-weight: bold;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  #jumboTitle {
    font-size: 40px;
    font-weight: bold;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}
