// reset
*, :before, :after 
    box-sizing border-box
    padding 0
    margin 0
  
// styles
.hide 
    display none

.page__style 
    background #6D326D
    font-family OpenSans-Regular, sans-serif
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    height 100%
    width 100%
    margin auto auto
    overflow hidden
    
    .page__description
        color #ffffff
        font-weight 300
        text-align center
    h1
        font-weight 300
        margin-top 200px
        margin-bottom 30px

    .btn_nav
        background #002A32
        border-radius 30px
        border none
        color #fff
        cursor pointer
        font-family inherit
        font-size 15px
        font-weight bold
        text-transform uppercase
        letter-spacing 1px
        margin-bottom 20px
        padding 17px 30px
        width 146px
        &:focus,
        &:active
            outline none
            
    a
        text-decoration none
        color #fff
        &:hover
            color darken(#fff, 20%)



// Animation class
.animate_content
    animation animate 3s ease

@keyframes animate
    10%
        transform scale(1, 0.002)
    35%
        transform scale(0.2, 0.002)
        opacity 1
    50%
        transform scale(0.2, 0.002)
        opacity 0
    85%
        transform scale(1, 0.002)
        opacity 1
    100%
        transform scale(1, 1)


.fadeIn
    z-index 10
        
/*  home
-----------------------------------*/
.home
    background #5DA9E9

/*  Projects
-----------------------------------*/
.projects
    background #BD5DE9

/*  Skills
-----------------------------------*/
.skills
    background #5DE974

/*  About
-----------------------------------*/
.about
    background #FB9B33

/*  Contact
-----------------------------------*/
.contact
    background #C9CDC0
            
/*****************************************************************
~ Mobile media-queries (max-width: 767px)
******************************************************************/

@media only screen and (max-width: 767px)
    .page__description
        h1
            margin-top 100px
            
$phi = 1.6180339887498948482
$diameter-1 = 150px

:root
  for i in(2..9)
    j = (i - 1)
    --diameter-{i}: ($diameter-1 / ($phi**j))
body
  background-color #000
  display flex
  align-items center
  justify-content center
  min-height 100vh 
.wrap
  height $diameter-1
  width $diameter-1
  position relative      
.circle
  display block
  box-sizing border-box
  border 3px solid #fff
  border-radius 50%
  position absolute
  &-1    
    height $diameter-1
    width $diameter-1
    transform rotate(90deg)
  for i in(2..9)
    j = (i - 1)
    $radius = (($diameter-1 / ($phi**j)) / 2)
    $timing = (6000 * (1 / j))ms
    &-{i}     
      height var(--diameter- + i)
      width var(--diameter- + i)
      top "calc(50% - %s)" % $radius
      left "calc(50% - %s)" % $radius
      animation (rot- + i) $timing infinite linear !important
  
for i in(2..9)
  j = (i - 2)
  k = (i - 1)
  $diameter-big = ($diameter-1 / ($phi**j))
  $diameter-small = ($diameter-1 / ($phi**k))
  $test = (($diameter-big - $diameter-small) / 2)
  $keyframe-name = (rot- + i)
  @keyframes $keyframe-name{
    from { 
		  transform: rotate(0deg) translate($test) rotate(0deg)
    }
    to { 
		  transform: rotate(360deg) translate($test) rotate(-360deg)
    }
  }
  