.hide {
    display: none;
  }
  #results{
    box-sizing: border-box;
    display: inline-block;
    font-size: 12px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
  .page__style {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: auto auto;
    overflow: scroll;
  
  }
  .page__style .page__description {
    color: #fff;
    font-weight: 300;
    text-align: center;
  }
  .page__style h1 {
    font-weight: 300;
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: "digital_dreamersregular";
  }
  .page__style .btn_nav {
    font-family: "digital_dreamersregular";
    background: #e7e7e7;
    border-radius: 30px;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding: 17px 17px;
    width: 146px;
  }
  .page__style .btn_nav:focus,
  .page__style .btn_nav:active {
    outline: none;
  }
  .page__style a {
    text-decoration: none;
    color: #fff;
    font-family: "digital_dreamersregular";
  }
  .page__style a:hover {
    color: #ccc;
  }
  .animate_content {
    animation: animate 1.5s ease;
  }
  .fadeIn {
    z-index: 10;
  }
  /*  home
  -----------------------------------*/
  .home {
    background: black;
  }
  /*  Projects
  -----------------------------------*/
  .html {
    background: #eeff00;
  }
  /*  Skills
  -----------------------------------*/
  .css {
    background: #ffa600;
  }
  /*  About
  -----------------------------------*/
  .javascript {
    background: #865d03;
  }
  /*  Contact
  -----------------------------------*/
  .jquery {
    background: #860065;
  }
  .node {
    background: #9c9c9c;
  }
  /*****************************************************************
  ~ Mobile media-queries (max-width: 767px)
  ******************************************************************/
  @media only screen and (max-width: 767px) {
    .page__description h1 {
      margin-top: 100px;
    }
  }
  @-moz-keyframes animate {
    10% {
      transform: scale(1, 0.002);
    }
    35% {
      transform: scale(0.2, 0.002);
      opacity: 1;
    }
    50% {
      transform: scale(0.2, 0.002);
      opacity: 0;
    }
    85% {
      transform: scale(1, 0.002);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @-webkit-keyframes animate {
    10% {
      transform: scale(1, 0.002);
    }
    35% {
      transform: scale(0.2, 0.002);
      opacity: 1;
    }
    50% {
      transform: scale(0.2, 0.002);
      opacity: 0;
    }
    85% {
      transform: scale(1, 0.002);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @-o-keyframes animate {
    10% {
      transform: scale(1, 0.002);
    }
    35% {
      transform: scale(0.2, 0.002);
      opacity: 1;
    }
    50% {
      transform: scale(0.2, 0.002);
      opacity: 0;
    }
    85% {
      transform: scale(1, 0.002);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @keyframes animate {
    10% {
      transform: scale(1, 0.002);
    }
    35% {
      transform: scale(0.2, 0.002);
      opacity: 1;
    }
    50% {
      transform: scale(0.2, 0.002);
      opacity: 0;
    }
    85% {
      transform: scale(1, 0.002);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
    }
  }
  .ml1 {
    font-weight: 900;
    font-size: 3.5em;
  }
  p {
    font-family: "digital_dreamersregular";
    font-size: 12px;
  }
  .ml1 .letter {
    display: inline-block;
    line-height: 1em;
    font-family: "logotronikregular";
    font-size: 88px;
    text-shadow: 5px black;
  }
  ​ .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  ​
  ​ .edit {
    width: 100%;
  }
  #results {
    color: black;
  }
  
  .results {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    width:25%;
  }
  .btn {
    margin: 5px;
    
  }
  .hide {
    display: none;
  }
  #loader {
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin-left: 45%;
    margin-right: 50%; 
    border: 16px solid rgb(255, 255, 255);
    border-radius: 50%;
    border-top: 16px solid black; 
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  #myDiv {
    display: none;
    text-align: center;
  }
  /* :root {
    --diameter-2: 92.70509831248422px;
    --diameter-3: 57.29490168751577px;
    --diameter-4: 35.41019662496846px;
    --diameter-5: 21.884705062547315px;
    --diameter-6: 13.525491562421134px;
    --diameter-7: 8.359213500126181px;
    --diameter-8: 5.166278062294953px;
    --diameter-9: 3.192935437831227px;
  }
  body {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .wrap {
    height: 150px;
    width: 150px;
    position: relative;
  }
  .circle {
    display: block;
    box-sizing: border-box;
    border: 3px solid #fff;
    border-radius: 50%;
    position: absolute;
  }
  .circle-1 {
    height: 150px;
    width: 150px;
    transform: rotate(90deg);
  }
  .circle-2 {
    height: var(--diameter-2);
    width: var(--diameter-2);
    top: calc(50% - 46.35254915624211px);
    left: calc(50% - 46.35254915624211px);
    animation: rot-2 6000ms infinite linear !important;
  }
  .circle-3 {
    height: var(--diameter-3);
    width: var(--diameter-3);
    top: calc(50% - 28.647450843757884px);
    left: calc(50% - 28.647450843757884px);
    animation: rot-3 3000ms infinite linear !important;
  }
  .circle-4 {
    height: var(--diameter-4);
    width: var(--diameter-4);
    top: calc(50% - 17.70509831248423px);
    left: calc(50% - 17.70509831248423px);
    animation: rot-4 2000ms infinite linear !important;
  }
  .circle-5 {
    height: var(--diameter-5);
    width: var(--diameter-5);
    top: calc(50% - 10.942352531273658px);
    left: calc(50% - 10.942352531273658px);
    animation: rot-5 1500ms infinite linear !important;
  }
  .circle-6 {
    height: var(--diameter-6);
    width: var(--diameter-6);
    top: calc(50% - 6.762745781210567px);
    left: calc(50% - 6.762745781210567px);
    animation: rot-6 1200ms infinite linear !important;
  }
  .circle-7 {
    height: var(--diameter-7);
    width: var(--diameter-7);
    top: calc(50% - 4.17960675006309px);
    left: calc(50% - 4.17960675006309px);
    animation: rot-7 1000ms infinite linear !important;
  }
  .circle-8 {
    height: var(--diameter-8);
    width: var(--diameter-8);
    top: calc(50% - 2.583139031147477px);
    left: calc(50% - 2.583139031147477px);
    animation: rot-8 857.1428571428571ms infinite linear !important;
  }
  .circle-9 {
    height: var(--diameter-9);
    width: var(--diameter-9);
    top: calc(50% - 1.596467718915614px);
    left: calc(50% - 1.596467718915614px);
    animation: rot-9 750ms infinite linear !important;
  }
  @-moz-keyframes rot-2 {
    from {
      transform: rotate(0deg) translate(28.647450843757888px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(28.647450843757888px) rotate(-360deg);
    }
  }
  @-webkit-keyframes rot-2 {
    from {
      transform: rotate(0deg) translate(28.647450843757888px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(28.647450843757888px) rotate(-360deg);
    }
  }
  @-o-keyframes rot-2 {
    from {
      transform: rotate(0deg) translate(28.647450843757888px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(28.647450843757888px) rotate(-360deg);
    }
  }
  @keyframes rot-2 {
    from {
      transform: rotate(0deg) translate(28.647450843757888px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(28.647450843757888px) rotate(-360deg);
    }
  }
  @-moz-keyframes rot-3 {
    from {
      transform: rotate(0deg) translate(17.70509831248423px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(17.70509831248423px) rotate(-360deg);
    }
  }
  @-webkit-keyframes rot-3 {
    from {
      transform: rotate(0deg) translate(17.70509831248423px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(17.70509831248423px) rotate(-360deg);
    }
  }
  @-o-keyframes rot-3 {
    from {
      transform: rotate(0deg) translate(17.70509831248423px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(17.70509831248423px) rotate(-360deg);
    }
  }
  @keyframes rot-3 {
    from {
      transform: rotate(0deg) translate(17.70509831248423px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(17.70509831248423px) rotate(-360deg);
    }
  }
  @-moz-keyframes rot-4 {
    from {
      transform: rotate(0deg) translate(10.942352531273656px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(10.942352531273656px) rotate(-360deg);
    }
  }
  @-webkit-keyframes rot-4 {
    from {
      transform: rotate(0deg) translate(10.942352531273656px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(10.942352531273656px) rotate(-360deg);
    }
  }
  @-o-keyframes rot-4 {
    from {
      transform: rotate(0deg) translate(10.942352531273656px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(10.942352531273656px) rotate(-360deg);
    }
  }
  @keyframes rot-4 {
    from {
      transform: rotate(0deg) translate(10.942352531273656px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(10.942352531273656px) rotate(-360deg);
    }
  }
  @-moz-keyframes rot-5 {
    from {
      transform: rotate(0deg) translate(6.762745781210571px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(6.762745781210571px) rotate(-360deg);
    }
  }
  @-webkit-keyframes rot-5 {
    from {
      transform: rotate(0deg) translate(6.762745781210571px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(6.762745781210571px) rotate(-360deg);
    }
  }
  @-o-keyframes rot-5 {
    from {
      transform: rotate(0deg) translate(6.762745781210571px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(6.762745781210571px) rotate(-360deg);
    }
  }
  @keyframes rot-5 {
    from {
      transform: rotate(0deg) translate(6.762745781210571px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(6.762745781210571px) rotate(-360deg);
    }
  }
  @-moz-keyframes rot-6 {
    from {
      transform: rotate(0deg) translate(4.17960675006309px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(4.17960675006309px) rotate(-360deg);
    }
  }
  @-webkit-keyframes rot-6 {
    from {
      transform: rotate(0deg) translate(4.17960675006309px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(4.17960675006309px) rotate(-360deg);
    }
  }
  @-o-keyframes rot-6 {
    from {
      transform: rotate(0deg) translate(4.17960675006309px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(4.17960675006309px) rotate(-360deg);
    }
  }
  @keyframes rot-6 {
    from {
      transform: rotate(0deg) translate(4.17960675006309px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(4.17960675006309px) rotate(-360deg);
    }
  }
  @-moz-keyframes rot-7 {
    from {
      transform: rotate(0deg) translate(2.583139031147477px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(2.583139031147477px) rotate(-360deg);
    }
  }
  @-webkit-keyframes rot-7 {
    from {
      transform: rotate(0deg) translate(2.583139031147477px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(2.583139031147477px) rotate(-360deg);
    }
  }
  @-o-keyframes rot-7 {
    from {
      transform: rotate(0deg) translate(2.583139031147477px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(2.583139031147477px) rotate(-360deg);
    }
  }
  @keyframes rot-7 {
    from {
      transform: rotate(0deg) translate(2.583139031147477px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(2.583139031147477px) rotate(-360deg);
    }
  }
  @-moz-keyframes rot-8 {
    from {
      transform: rotate(0deg) translate(1.596467718915614px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(1.596467718915614px) rotate(-360deg);
    }
  }
  @-webkit-keyframes rot-8 {
    from {
      transform: rotate(0deg) translate(1.596467718915614px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(1.596467718915614px) rotate(-360deg);
    }
  }
  @-o-keyframes rot-8 {
    from {
      transform: rotate(0deg) translate(1.596467718915614px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(1.596467718915614px) rotate(-360deg);
    }
  }
  @keyframes rot-8 {
    from {
      transform: rotate(0deg) translate(1.596467718915614px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(1.596467718915614px) rotate(-360deg);
    }
  }
  @-moz-keyframes rot-9 {
    from {
      transform: rotate(0deg) translate(0.986671312231863px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(0.986671312231863px) rotate(-360deg);
    }
  }
  @-webkit-keyframes rot-9 {
    from {
      transform: rotate(0deg) translate(0.986671312231863px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(0.986671312231863px) rotate(-360deg);
    }
  }
  @-o-keyframes rot-9 {
    from {
      transform: rotate(0deg) translate(0.986671312231863px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(0.986671312231863px) rotate(-360deg);
    }
  }
  @keyframes rot-9 {
    from {
      transform: rotate(0deg) translate(0.986671312231863px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translate(0.986671312231863px) rotate(-360deg);
    }
  }   */