*,
:before,
:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.hide {
  display: none;
}
.page__style {
  background: #6d326d;
  font-family: OpenSans-Regular, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: auto auto;
  overflow: hidden;
}
.page__style .page__description {
  color: #fff;
  font-weight: 300;
  text-align: center;
}
.page__style h1 {
  font-weight: 300;
  margin-top: 200px;
  margin-bottom: 30px;
}
.page__style .btn_nav {
  background: #002a32;
  border-radius: 30px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding: 17px 30px;
  width: 146px;
}
.page__style .btn_nav:focus,
.page__style .btn_nav:active {
  outline: none;
}
.page__style a {
  text-decoration: none;
  color: #fff;
}
.page__style a:hover {
  color: #ccc;
}
.animate_content {
  animation: animate 3s ease;
}
.fadeIn {
  z-index: 10;
}
/*  home
-----------------------------------*/
.home {
  background: #5da9e9;
}
/*  Projects
-----------------------------------*/
.projects {
  background: #bd5de9;
}
/*  Skills
-----------------------------------*/
.skills {
  background: #5de974;
}
/*  About
-----------------------------------*/
.about {
  background: #fb9b33;
}
/*  Contact
-----------------------------------*/
.contact {
  background: #c9cdc0;
}
/*****************************************************************
~ Mobile media-queries (max-width: 767px)
******************************************************************/
@media only screen and (max-width: 767px) {
  .page__description h1 {
    margin-top: 100px;
  }
}
:root {
  --diameter-2: 92.70509831248422px;
  --diameter-3: 57.29490168751577px;
  --diameter-4: 35.41019662496846px;
  --diameter-5: 21.884705062547315px;
  --diameter-6: 13.525491562421134px;
  --diameter-7: 8.359213500126181px;
  --diameter-8: 5.166278062294953px;
  --diameter-9: 3.192935437831227px;
}
body {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.wrap {
  height: 150px;
  width: 150px;
  position: relative;
}
.circle {
  display: block;
  box-sizing: border-box;
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
}
.circle-1 {
  height: 150px;
  width: 150px;
  transform: rotate(90deg);
}
.circle-2 {
  height: var(--diameter-2);
  width: var(--diameter-2);
  top: calc(50% - 46.35254915624211px);
  left: calc(50% - 46.35254915624211px);
  animation: rot-2 6000ms infinite linear !important;
}
.circle-3 {
  height: var(--diameter-3);
  width: var(--diameter-3);
  top: calc(50% - 28.647450843757884px);
  left: calc(50% - 28.647450843757884px);
  animation: rot-3 3000ms infinite linear !important;
}
.circle-4 {
  height: var(--diameter-4);
  width: var(--diameter-4);
  top: calc(50% - 17.70509831248423px);
  left: calc(50% - 17.70509831248423px);
  animation: rot-4 2000ms infinite linear !important;
}
.circle-5 {
  height: var(--diameter-5);
  width: var(--diameter-5);
  top: calc(50% - 10.942352531273658px);
  left: calc(50% - 10.942352531273658px);
  animation: rot-5 1500ms infinite linear !important;
}
.circle-6 {
  height: var(--diameter-6);
  width: var(--diameter-6);
  top: calc(50% - 6.762745781210567px);
  left: calc(50% - 6.762745781210567px);
  animation: rot-6 1200ms infinite linear !important;
}
.circle-7 {
  height: var(--diameter-7);
  width: var(--diameter-7);
  top: calc(50% - 4.17960675006309px);
  left: calc(50% - 4.17960675006309px);
  animation: rot-7 1000ms infinite linear !important;
}
.circle-8 {
  height: var(--diameter-8);
  width: var(--diameter-8);
  top: calc(50% - 2.583139031147477px);
  left: calc(50% - 2.583139031147477px);
  animation: rot-8 857.1428571428571ms infinite linear !important;
}
.circle-9 {
  height: var(--diameter-9);
  width: var(--diameter-9);
  top: calc(50% - 1.596467718915614px);
  left: calc(50% - 1.596467718915614px);
  animation: rot-9 750ms infinite linear !important;
}
@-moz-keyframes rot-2 {
  from {
    transform: rotate(0deg) translate(28.647450843757888px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(28.647450843757888px) rotate(-360deg);
  }
}
@-webkit-keyframes rot-2 {
  from {
    transform: rotate(0deg) translate(28.647450843757888px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(28.647450843757888px) rotate(-360deg);
  }
}
@-o-keyframes rot-2 {
  from {
    transform: rotate(0deg) translate(28.647450843757888px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(28.647450843757888px) rotate(-360deg);
  }
}
@keyframes rot-2 {
  from {
    transform: rotate(0deg) translate(28.647450843757888px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(28.647450843757888px) rotate(-360deg);
  }
}
@-moz-keyframes rot-3 {
  from {
    transform: rotate(0deg) translate(17.70509831248423px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(17.70509831248423px) rotate(-360deg);
  }
}
@-webkit-keyframes rot-3 {
  from {
    transform: rotate(0deg) translate(17.70509831248423px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(17.70509831248423px) rotate(-360deg);
  }
}
@-o-keyframes rot-3 {
  from {
    transform: rotate(0deg) translate(17.70509831248423px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(17.70509831248423px) rotate(-360deg);
  }
}
@keyframes rot-3 {
  from {
    transform: rotate(0deg) translate(17.70509831248423px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(17.70509831248423px) rotate(-360deg);
  }
}
@-moz-keyframes rot-4 {
  from {
    transform: rotate(0deg) translate(10.942352531273656px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(10.942352531273656px) rotate(-360deg);
  }
}
@-webkit-keyframes rot-4 {
  from {
    transform: rotate(0deg) translate(10.942352531273656px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(10.942352531273656px) rotate(-360deg);
  }
}
@-o-keyframes rot-4 {
  from {
    transform: rotate(0deg) translate(10.942352531273656px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(10.942352531273656px) rotate(-360deg);
  }
}
@keyframes rot-4 {
  from {
    transform: rotate(0deg) translate(10.942352531273656px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(10.942352531273656px) rotate(-360deg);
  }
}
@-moz-keyframes rot-5 {
  from {
    transform: rotate(0deg) translate(6.762745781210571px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(6.762745781210571px) rotate(-360deg);
  }
}
@-webkit-keyframes rot-5 {
  from {
    transform: rotate(0deg) translate(6.762745781210571px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(6.762745781210571px) rotate(-360deg);
  }
}
@-o-keyframes rot-5 {
  from {
    transform: rotate(0deg) translate(6.762745781210571px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(6.762745781210571px) rotate(-360deg);
  }
}
@keyframes rot-5 {
  from {
    transform: rotate(0deg) translate(6.762745781210571px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(6.762745781210571px) rotate(-360deg);
  }
}
@-moz-keyframes rot-6 {
  from {
    transform: rotate(0deg) translate(4.17960675006309px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(4.17960675006309px) rotate(-360deg);
  }
}
@-webkit-keyframes rot-6 {
  from {
    transform: rotate(0deg) translate(4.17960675006309px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(4.17960675006309px) rotate(-360deg);
  }
}
@-o-keyframes rot-6 {
  from {
    transform: rotate(0deg) translate(4.17960675006309px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(4.17960675006309px) rotate(-360deg);
  }
}
@keyframes rot-6 {
  from {
    transform: rotate(0deg) translate(4.17960675006309px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(4.17960675006309px) rotate(-360deg);
  }
}
@-moz-keyframes rot-7 {
  from {
    transform: rotate(0deg) translate(2.583139031147477px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(2.583139031147477px) rotate(-360deg);
  }
}
@-webkit-keyframes rot-7 {
  from {
    transform: rotate(0deg) translate(2.583139031147477px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(2.583139031147477px) rotate(-360deg);
  }
}
@-o-keyframes rot-7 {
  from {
    transform: rotate(0deg) translate(2.583139031147477px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(2.583139031147477px) rotate(-360deg);
  }
}
@keyframes rot-7 {
  from {
    transform: rotate(0deg) translate(2.583139031147477px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(2.583139031147477px) rotate(-360deg);
  }
}
@-moz-keyframes rot-8 {
  from {
    transform: rotate(0deg) translate(1.596467718915614px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(1.596467718915614px) rotate(-360deg);
  }
}
@-webkit-keyframes rot-8 {
  from {
    transform: rotate(0deg) translate(1.596467718915614px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(1.596467718915614px) rotate(-360deg);
  }
}
@-o-keyframes rot-8 {
  from {
    transform: rotate(0deg) translate(1.596467718915614px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(1.596467718915614px) rotate(-360deg);
  }
}
@keyframes rot-8 {
  from {
    transform: rotate(0deg) translate(1.596467718915614px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(1.596467718915614px) rotate(-360deg);
  }
}
@-moz-keyframes rot-9 {
  from {
    transform: rotate(0deg) translate(0.986671312231863px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(0.986671312231863px) rotate(-360deg);
  }
}
@-webkit-keyframes rot-9 {
  from {
    transform: rotate(0deg) translate(0.986671312231863px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(0.986671312231863px) rotate(-360deg);
  }
}
@-o-keyframes rot-9 {
  from {
    transform: rotate(0deg) translate(0.986671312231863px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(0.986671312231863px) rotate(-360deg);
  }
}
@keyframes rot-9 {
  from {
    transform: rotate(0deg) translate(0.986671312231863px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(0.986671312231863px) rotate(-360deg);
  }
}
@-moz-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@-o-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
