
.hide {
  display: none;
}
#results{
  box-sizing: border-box;
  display: inline-block;
  font-size: 12px;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}
.page__style {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: auto auto;
  overflow: scroll;
}
.page__style .page__description {
  color: #fff;
  font-weight: 300;
  text-align: center;
}
.page__style h1 {
  font-weight: 300;
  margin-top: 100px;
  margin-bottom: 30px;
}
.page__style .btn_nav {
  background: #e7e7e7;
  border-radius: 30px;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding: 17px 17px;
  width: 146px;
}
.page__style .btn_nav:focus,
.page__style .btn_nav:active {
  outline: none;
}
.page__style a {
  text-decoration: none;
  color: #fff;
}
.page__style a:hover {
  color: #ccc;
}
.animate_content {
  animation: animate 1.5s ease;
}
.fadeIn {
  z-index: 10;
}
/*  home
-----------------------------------*/
.home {
  background: black;
}
/*  Projects
-----------------------------------*/
.html {
  background: #eeff00;
}
/*  Skills
-----------------------------------*/
.css {
  background: #ffa600;
}
/*  About
-----------------------------------*/
.javascript {
  background: #865d03;
}
/*  Contact
-----------------------------------*/
.jquery {
  background: #860065;
}
.node {
  background: #9c9c9c;
}
/*****************************************************************
~ Mobile media-queries (max-width: 767px)
******************************************************************/
@media only screen and (max-width: 767px) {
  .page__description h1 {
    margin-top: 100px;
  }
}
@-moz-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@-o-keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
.ml1 {
  font-weight: 900;
  font-size: 3.5em;
}
p {
  font-family: "hermitregular";
  font-size: 22px;
}
.ml1 .letter {
  display: inline-block;
  line-height: 1em;
  font-family: "blocky_lettersregular";
  font-size: 68px;
}
​ .ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}
​
​ .edit {
  width: 100%;
}
#results {
  color: black;
}

.card {
  height: 500px;
}
.results {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  width:25%;
}
.btn {
  margin: 5px;
}
.hide {
  display: none;
}
#loader {
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin-left: 45%;
  margin-right: 50%; 
  border: 16px solid rgb(255, 255, 255);
  border-radius: 50%;
  border-top: 16px solid black; 
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
#myDiv {
  display: none;
  text-align: center;
}